body {
  background-image: url('https://img.freepik.com/premium-vector/black-checker-chess-square-background_350503-56.jpg?w=2000');
  display: flex;
  flex-flow: column;
  align-items: center;
}
input {
  border-radius: 2rem;
  background-color: darkorange;
  font-size: 1.5rem;
  width: 15%;
  color: white;
  margin: 0 .5rem 3rem .5rem;
  text-align: center;
  box-shadow: 0 1rem 1rem 0 darkslateblue;
  
}

#table-container {
    display: flex;
    align-items: left;
    align-content:space-between;
    border: 1rem solid darkslateblue;
    border-radius: 1rem;
    background-color: white;
  }

  table {
    border-collapse: collapse;
    border: 1px solid darkslateblue;
    text-align: center;
	  vertical-align: middle;
    width: 100%;
    font-size: 2rem;
    color:crimson ;
    min-height: 10rem;
    border-right: 1rem solid darkslateblue;
    background-color: white;
  }

  caption {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #333;
    padding: .3rem;
    margin-bottom: 2rem;
    border-bottom: 1rem solid darkslateblue;
    width: 100%;
    color: darkslateblue;
    background-color: white;
  }

  thead {
    background-color: darkslateblue;
    color: white;
    font-size: 1.75rem;
	  text-transform: uppercase;
	  letter-spacing: 2%;
  }

  /* if border set in table it is outside, in th, td it is all cells */

  th, td {
    padding: .5rem;
  }

  thead th {
    width: 20%;
  }
/* highlight cell for emphasis */
  .cell-highlight {
    background-color: darkseagreen;
    font-weight: bold;
  }

  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eee;
  }

  #btnSec {
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: center;
  }

  button {
    border-radius: 2rem;
    height: 5rem;
    width: 7rem;
    font-size: 2rem;
    margin: 2rem;
    background-color: chartreuse;
    color: darkslateblue;
    box-shadow: 0 1.5rem 1.5rem 0 darkslateblue;

  }

 header {
  background-color: darkslateblue;
  width: 25rem;
  border-radius: 2rem;
  padding: 2px;
  margin: 1.5rem;
  border: 1px solid black;
  color: chartreuse;
  text-align: center;
  box-shadow: 0 2rem 2rem 0 chartreuse;
 }

 label {
  color: crimson;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: white;

 }

 button:active {
  box-shadow: inset .5rem .5rem darkslateblue;
}

